.selectWrap {
  .selectFields {
    background-color: white;
    border: blue;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #ccc;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    height: 38px;
    padding: 0 5px;
    font-size: 1.2rem;
    border-radius: 3px;
    @media (min-width: 1600px) {
      height: 52px;
    }
  }
}
