//def. Color
$color-blue-light: #f4f8fd;
$color-blue-primary: #30499a;
$color-blue-light-primary: #01a3e5;
$color-orange: #cc773c;
$color-orange-light: #ffa502;
$color-pdp-sub-title: #4d4d4d;
$color-border: #ccc;
$color-white: #ffffff;
$color-white-dark: #a5a5a5;
$color-white-grey: #dbdbdb;
$color-black: #000000;
$color-black-text: #0d1321;

$color-button-primary: #304a9a;
$color-button-primary-hover: #4267d8;
