@import '../../../../styles/variables/shadows.scss';

.cardContainer {
  padding: 15px;
  box-shadow: var(--drop-shadow-z-1);
  display: flex;
  &.rollover {
    transition: 0.3s box-shadow;
    &:hover {
      box-shadow: var(--drop-shadow-z-1-hover);
    }
  }
  &.center {
    align-items: center;
    justify-content: center;
  }

  .cardInner {
    width: 100%;
  }
  margin-bottom: 30px;
}
