.headerNavigation {
  width: 50%;

  .navItems {
    nav {
      display: flex;
      flex-direction: row;
      white-space: nowrap;

      .link {
        position: relative;

        &.active {
          color: #d61e57;
          font-weight: bold;
        }
      }

      ul li {
        display: inline-block;
        margin-right: 50px;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
      }

      li:hover {
        color: #d61e57;
      }

      li a:hover {
        color: #d61e57;
      }

      i {
        color: #d61e57;
        width: 8px;
        margin-left: 10px;
      }

      a {
        color: #4b4b4b;
      }
    }

    .dropDownContent {
      display: block;
      position: absolute;
      margin-left: -40px;

      .filler {
        margin-top: -5px;
        background-color: white;
        height: 20px;
        opacity: 0;
      }

      .column {
        padding: 20px 0;
        width: 206px;
        border-radius: 9px;
        background-color: #ffffff;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);

        ul {
          display: flex;
          flex-direction: column;
          margin-left: -20px;

          li {
            text-transform: none;
            color: #052530;
            font-size: 17px;
            letter-spacing: 0;
            line-height: 35px;
            text-align: left;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .headerNavigation {
    .navItems {
      nav {
        ul li {
          margin-right: 25px;
          font-size: 10px;
        }
      }
    }
  }
}
