* {
  box-sizing: border-box;
}

.card {
  height: 453px;
  width: 301px;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
  flex: 0 0 auto;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  cursor: pointer;
  .cardImage {
    width: 301px;
    max-height: 183px;
    border-radius: 9px 9px 0 0;
    margin-left: 0px;
  }
  .cardCategory {
    color: #d61e57;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    margin: 27px 0 0 27px;
    text-transform: uppercase;
  }
  .cardText {
    margin: 20px 27px 0 27px;
    color: #052530;
    font-size: 26px;
    letter-spacing: -0.41px;
    line-height: 33px;
  }

  .cardBtn {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}
.card:hover {
  top: -20px;
  .cardText {
    color: #d61e57;
  }
}
