@import 'mixins/helpers.scss';
@import 'mixins/animations.scss';
@import 'base/normalize.scss';

html {
  width: auto !important;
  overflow-x: hidden !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  body,
  html {
    width: auto !important;
    overflow-x: hidden !important;
  }
}
