@import '../../Core/scss/variables.scss';
.button {
  border-radius: 30px;
  background-color: $color-button-primary;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: 0.3s background-color;
  width: 100%;
  border: none;
  font-size: 1rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
  &:hover {
    background-color: $color-button-primary-hover;
  }
  &.invert {
    background-color: white;
    border: 2px solid $color-button-primary-hover;
    color: $color-button-primary-hover;
    &:hover {
      background-color: $color-button-primary-hover;
      color: white;
    }
  }
  &.disabled {
    opacity: 0.4;
    cursor: default;
    &:hover {
      background-color: $color-button-primary;
    }
  }
}
