.fadeIn {
  animation: fade-in .3s ease-out
}

@keyframes fade-in {
  0% {
    opacity: 0; // transform: translateY(-100px)
  }
  100% {
    opacity: 1; // transform: translateY(0)
  }
}

.transition {
  transition: .3s all;
}