p,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  outline: none;
  outline-color: white;
  outline-style: none;
}

hr {
  height: 1px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}